.avatar {
  width: 136px;
  height: 136px;
  display: block;
  border-radius: 50%;
  background-color: #44eace;
  position: relative;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.avatar.friend {
  position: absolute;
  transform-origin: 0 0;
}

.avatar .avatar-image {
  width: 128px;
  height: 128px;
  border-radius: 128px 128px 128px 128px;
  position: absolute;
  left: 4px;
  top: 4px;
  background-size: 128px auto;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.avatar .avatar-name {
  width: 130px;
  height: 64px;
  position: absolute;
  top: 68px;
  left: 4px;
  line-height: 64px;
  border-radius: 0 0 130px 130px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  background-color: rgba(68, 250, 207, 0.7);
}

.avatar.userSelf {
  display: none;
}

#friendlist {
  height: 800px;
}

.friends-container {
  margin: 68px;
}
